<div style="margin-left: 18%; padding: 25px; font-size: 1.2rem">
  <h1>Все вебинары</h1>
  <div class="row mesh top">
    <div class="col-1 text-center p-3"><b>Индекс</b></div>
    <div class="col-3 text-center p-3"><b>Название</b></div>
    <div class="col-2 text-center p-3"><b>Время начала</b></div>
    <div class="col-1 text-center p-3"><b>Чат-комнота</b></div>
    <div class="col-3 text-center p-3"><b>Ссылка на видео</b></div>
    <div class="col-1.5 text-center p-3"><b>Действия</b></div>
  </div>
  <app-webinar-row [odd]="odd" [last]="last" [webinar]="webinar" *ngFor="let webinar of scheduledWebinars; let odd = odd; let last = last"></app-webinar-row>
</div>
