.mesh{
    border: gray thin solid;
    border-radius: 0 0;
  &.top{
    background-color: rgba(60, 90, 130, 0.2);
    border-radius: 1rem 1rem 0 0 !important;
  }
  &.rounded {
    border-radius: 0 0 1rem 1rem !important;
  }
  &>div{
    border-left: gray thin solid;
    &:first-child{
      border-left: none;
    }
  }
}
.highlight {
  background-color: rgba(60, 90, 130, 0.2);
}
