body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ECECEC;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

input {
  background-color: #C4C4C4 !important;
}

.wrapper {
  min-height: 95vh;
  background: #FFFFFF;
}

html, body {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.expandable-v {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.expandable-v.expand__1000 {
  max-height: 1000px;
}
.expandable-v.expand__500 {
  max-height: 500px;
}
.expandable-v.expand__300 {
  max-height: 300px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ECECEC;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

input {
  background-color: #C4C4C4 !important;
}

.wrapper {
  min-height: 95vh;
  background: #FFFFFF;
}

html, body {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.expandable-v {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.expandable-v.expand__1000 {
  max-height: 1000px;
}
.expandable-v.expand__500 {
  max-height: 500px;
}
.expandable-v.expand__300 {
  max-height: 300px;
}

.nav-item__header {
  display: flex;
  z-index: 10000;
}
.nav-item__toggle-btn {
  opacity: 0;
  width: 38px;
  height: 38px;
}
.nav-item__toggle-btn-label::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 3px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 6px 0;
  transform: translateY(0.9rem) rotate(20deg);
  transition: 0.4s;
}
.nav-item__toggle-btn-label::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 3px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 6px 10px;
  transform: translateY(0.9rem) rotate(-20deg);
  transition: 0.4s;
}
.nav-item__toggle-btn-label.checked::before {
  width: 20px;
  margin: 6px 0;
  transform: translateY(1rem) rotate(45deg);
}
.nav-item__toggle-btn-label.checked::after {
  width: 20px;
  margin: 6px 0;
  transform: translateY(1rem) rotate(-45deg);
}

.sub-nav {
  position: absolute;
  top: 2.5rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  max-height: 0;
  padding: 0 1rem;
  overflow: hidden;
  background-color: #343a40;
}
.sub-nav.expand {
  padding: 1rem;
}
.sub-nav .sub-nav__link {
  text-decoration: none;
  width: 100%;
  color: #ffffff;
  padding: 0.25rem;
}
.sub-nav .sub-nav__link:hover {
  background-color: #7d7d7d;
}
.sub-nav .sub-nav__link.active {
  background-color: #7d7d7d;
}

.nav-item {
  display: flex;
  flex-direction: column;
}
.nav-item__toggle-btn-label::before {
  background-color: gray;
}
.nav-item__toggle-btn-label::after {
  background-color: gray;
}

.sub-nav {
  position: relative;
  top: 0;
  left: 2rem;
  display: flex;
  border-left: solid gray 2px;
  background-color: transparent;
  max-width: 90%;
}
.sub-nav.expand {
  padding: 0 1rem;
}
.sub-nav .sub-nav__link {
  color: #818181;
  max-width: 100%;
  word-break: break-word;
  border: transparent dashed 3px;
  transition: border-bottom-color 0.2s ease, border-left-color 0.2s ease, border-right-color 0.2s ease, border-top-color 0.2s ease;
  padding: 0.5rem 0;
}
.sub-nav .sub-nav__link:hover {
  border: #7d7d7d dashed 3px;
  background-color: transparent;
}
.sub-nav .sub-nav__link.active {
  background-color: transparent;
  color: black;
  font-weight: bold;
}
.sub-nav .sub-nav__link:before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 15px;
  height: 3px;
  background-color: gray;
  cursor: pointer;
  margin: 0.5rem 0;
  transition: 0.4s;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  min-width: min-content;
}
@media screen and (max-height: 450px) {
  a {
    font-size: 18px;
  }
}

/* When you mouse over the navigation links, change their color */
a:hover {
  color: #313131;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a.active {
  color: black;
  font-weight: bold;
}

/*# sourceMappingURL=side-menu-item.component.css.map */
