h1{
  color: #bec7c0;
  font: bold 2.5rem 'Montserrat';
}
.background{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  z-index: -1;
  transform: scaleY(1.1);
  //&:after{
  //  content: '';
  //  position: absolute;
  //  top:0;
  //  left: 0;
  //  height: 0;
  //  border: 30rem solid transparent;
  //  border-left: solid 30rem rgba(39, 77, 163, 0.4);
  //  border-top: solid 30rem rgba(39, 77, 163, 0.4);
  //}
}
