<div class="row mesh" [ngClass]="{'highlight': odd, 'rounded': last, 'deleted': deleted}" *ngIf="!!user && !expand">
  <div class="col-2 p-3">{{user.id}}</div>
  <div class="col-2 p-3">{{user.userName}}</div>
  <div class="col-3 p-3">{{user.email}}</div>
  <div class="col-3 p-3">{{user.licence}}</div>
  <div class="actions col-2">
    <div class="d-flex justify-content-center align-items-center">
      <a class="edit pl-1 pr-1" placement="top"  ngbTooltip="Редактировать" (click)="edit()"><app-edit [color]="'#4c5b72'" style="width: 40px; height: 40px"></app-edit></a>
      <a class="delete pl-1 pr-1" placement="top"  ngbTooltip="Удалить" (click)="askIfDelete()"><app-delete [color]="'red'"></app-delete></a>
    </div>
  </div>
</div>
<div class="record row mesh" [formGroup]="form" [ngClass]="{'highlight': odd, 'rounded': last}" *ngIf="!!user && expand && !deleted">
  <div class="col-2 p-3">{{user.id}}</div>
  <div class="col-2 p-3"><input class="form-control mt-1" formControlName="name"></div>
  <div class="col-3 p-3"><input class="form-control mt-1" formControlName="email"></div>
  <div class="col-3 p-3"><input class="form-control mt-1" formControlName="licence"></div>

  <div class="actions col-2">
    <div class="d-flex justify-content-center align-items-center">
      <a class="edit pl-1 pr-1"
         placement="top"  ngbTooltip="Редактировать"
         (click)="edit()"><app-edit [color]="'#4c5b72'" style="width: 40px; height: 40px"></app-edit></a>
      <a class="edit pl-1 pr-1"
         placement="top"  ngbTooltip="Подтвердить"
         (click)="submit()" *ngIf="!!user && expand"><app-checkmark></app-checkmark>
      </a>
      <a class="delete pl-1 pr-1"
         placement="top"  ngbTooltip="Удалить"
         (click)="askIfDelete()"><app-delete [color]="'red'"></app-delete></a>
    </div>
  </div>
</div>
