<ngb-carousel [showNavigationIndicators]="showNavigation" [ngStyle]="{'color': global.textColor}">
  <ng-template ngbSlide *ngFor="let slide of slides;">
    <div class="bg" [ngStyle]="{'background-image': 'url('+kowychki+'../assets/'+slide.background+kowychki+')', 'background-color': global.mainColor}">
      <div class="carousel-caption">
        <div class="carousel-content">
          <h1 class="headertext" [ngStyle]="{'color': global.textColor}">{{slide.title}}</h1>
          <p class="p1slide" [ngStyle]="{'color': global.textColor}">{{slide.subtitle}}</p>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
