<div class="container">
  <h1>
    Запланировать вебинар
  </h1>
  <div class="form" [formGroup]="form">
    <label for="time" class="mt-3">Время начала</label>
    <input type="text" id="time" class="form-control" formControlName="initTime">
    <label for="name" class="mt-3">Название вебинара</label>
    <input type="text" id="name" class="form-control" formControlName="name" placeholder="Название">
    <label for="url" class="mt-3">Конец ссылки на ютуб стрим или видео ( например: https://www.youtube.com/watch?v=<b>OpAHNHFfWH4</b> )</label>
    <input type="text" id="url" class="form-control" formControlName="url" placeholder="OpAHNHFfWH4">
    <input type="button" class="submit btn btn-primary mt-3" value="Запланировать">
  </div>
</div>
